---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactForm from '@components/ContactForm.astro';
---

<BaseLayout
  title='About'
  sideBarActiveItemID='about'>
  <div>
    <div class='text-3xl w-full font-bold mb-5'>About Me!</div>
  </div>
  <h2 class=''></h2>
  <p class='mb-5 text-lg leading-loose'>
    I'm Chris DeMars, a front end developer with 29 years of experience crafting
    web experiences that are accessible, performant, and user-focused. Since
    2011, I’ve been working as a Developer Advocate in some capacity—creating
    content, speaking at conferences, and helping developers do their best work
    through tools, education, and community. I've helped to found/co-found many
    Meetups here in Metro Detroit and surrounding areas. Currenlty, I run the <a
      href='https://www.meetup.com/detroit-javascript/'
      class='text-lime-500 underline hover:underline hover:bg-lime-500 hover:text-black px-1 rounded'
      target='_blank'
      rel='noopener noreferer'
      >DetroitJS Meetup</a
    >.
  </p>
  <p>
    I’ve always had a passion for the web, but I’m just as happy spending a day
    on the water fishing for smallmouth or largemouth bass. I even compete in
    local tournaments when I can. When I’m not working or fishing, there’s a >.
    I’ve always had a passion for the web, but I’m just as happy spending a day
    on the water fishing for smallmouth or largemouth bass. I even compete in
    local tournaments when I can. When I’m not working or fishing, there’s a
    good chance I’m traveling to play paintball with friends.
  </p>
  <p class='mb-5 text-lg leading-loose'>
    Over the years, I’ve built a speaking career that’s taken me all over the
    world to share insights on front-end development, accessibility, and
    developer experience. I’ve written dozens of blog posts aimed at helping
    developers level up their skills, whether it's diving deep into technical
    topics or offering guidance on tooling and workflow. I’m also proud to be a
    current <a
      href='https://www.progress.com/champions'
      class='text-lime-500 underline hover:underline hover:bg-lime-500 hover:text-black px-1 rounded'
      target='_blank'
      rel='noopener noreferer'
      >Progress Champion</a
    >, recognized for my contributions to the tech community and my continued
    support of the developer ecosystem.
  </p>
  <p class='mb-5 text-lg leading-loose'>
    Outside of tech and tournament trails, I have a deep curiosity for the
    paranormal—UFOs, cryptids, and ghosts are all right up my alley. I spend a
    lot of time researching strange phenomena, reading about sightings, and
    mapping out events that fall along the 37th parallel. Whether it's tracking
    down something elusive in the woods, on the water, or online, I’m always
    chasing the next mystery.
  </p>
  <ContactForm />
</BaseLayout>
