---
import BaseLayout from '../layouts/BaseLayout.astro';
import TimeLineElement from '../components/cv/TimeLine.astro';
---

<BaseLayout
  title='Resume'
  sideBarActiveItemID='cv'>
  <div class='mb-5'>
    <div class='text-3xl w-full font-bold'>Profile</div>
  </div>

  <div class='mb-10 text-justify'>
    With nearly three decades of experience in the web and software industry, I
    bring a deep passion for crafting accessible, performant, and user-centered
    digital experiences. From building frontends for major enterprises to
    leading developer advocacy efforts at companies like Rocket Mortgage,
    DigitalOcean, and Split Software, I've helped launch products, grow
    communities, and amplify developer voices through content, talks, and global
    engagement. I thrive at the intersection of code and connection—bridging
    technical excellence with human impact.
  </div>

  <div class='mb-5'>
    <div class='text-3xl w-full font-bold'>Education</div>
  </div>

  <div class='time-line-container grid gap-4 mb-10'>
    <TimeLineElement
      title='Baker College'
      subtitle='Allen Park, MI, USA'
    />
  </div>

  <div class='mb-5'>
    <div class='text-3xl w-full font-bold'>Experience</div>
  </div>

  <div class='time-line-container mb-10'>
    <TimeLineElement
      title='Senior Developer Advocate II @ DigitalOcean'
      subtitle='Feb 2024 to Feb 2025'>
      <ul class='list-disc list-inside space-y-2 text-gray-300'>
        <li>
          Contributed to the revitalization of CSS-Tricks through content
          creation and blogging initiatives.
        </li>
        <li>
          Delivered workshops and technical presentations at industry
          conferences, focusing on Cloud and Generative AI technologies.
        </li>
        <li>
          Launched and led Twitch streaming initiatives, including CloudChats,
          in collaboration with the Developer Relations team.
        </li>
        <li>
          Consistently met and exceeded forecasted performance targets by 100%.
        </li>
        <li>
          Produced and curated digital content for DigitalOcean initiatives,
          including YouTube videos, YouTube Shorts, and various social media
          platforms.
        </li>
        <li>
          Played a key role in leading the Hacktoberfest initiative, serving as
          the Master of Ceremonies for both the opening and closing sessions.
        </li>
        <li>
          Established robust methodologies for monitoring both qualitative and
          quantitative metrics to gauge performance effectively.
        </li>
        <li>
          Collaborated closely with the App Platform team, contributing to
          community engagement efforts and influencing strategic roadmap
          decisions.
        </li>
        <li>
          Co-hosted a highly successful webinar in partnership with Tabnine and
          DigitalOcean, showcasing project scaffolding techniques and deployment
          strategies on the App Platform.
        </li>
        <li>
          Fostered cross-functional collaboration across organizational teams to
          ensure alignment with community-centric objectives and goals.
        </li>
      </ul>
    </TimeLineElement>
    <br />
    <TimeLineElement
      title='Senior Developer Advocate @ Harness'
      subtitle='Sep 2024 - Nov 2024'>
      <ul class='list-disc list-inside space-y-2 text-gray-300'>
        <li>
          Strategized and implemented a comprehensive Content Distribution
          Strategy tailored to engage and strengthen community interactions.
        </li>
        <li>
          Delivered engaging presentations on diverse web technologies to
          educate and inspire audiences.
        </li>
        <li>
          Authored in-depth tutorials focusing on DevOps methodologies,
          enhancing understanding and proficiency within the community.
        </li>
        <li>
          Produced informative and engaging video content covering a range of
          DevOps topics to facilitate learning and knowledge sharing.
        </li>
        <li>
          Contributed insightful blog posts addressing a spectrum of web and
          software technologies, enriching industry discourse and knowledge
          dissemination.
        </li>
        <li>
          Actively championed web accessibility principles and practices,
          fostering awareness and understanding across organizational teams to
          promote inclusivity and user-centric design.
        </li>
      </ul>
    </TimeLineElement>
    <br />
    <TimeLineElement
      title='DevRel Lead @ Split Software'
      subtitle='Sep 2022 - June 2023'>
      <ul
        class='list-disc
        list-inside
        space-y-2
        text-gray-300'>
        <li>
          Created and implemented Developer Relations Strategy (End of FY23 &
          FY24) from the ground up.
        </li>
        <li>Built out a system to measure impact and track successes.</li>
        <li>
          Delivered talks at 17 conferences/meetups, including internationally.
        </li>
        <li>
          Co-hosted Split’s most successful webinar to date, created in
          collaboration with Forrester on the state of our emerging market.
        </li>
        <li>
          Produced content (promo videos) for webinars and Split’s Conference -
          Flagship 23.
        </li>
        <li>Published multiple blog posts on web and software technologies.</li>
        <li>
          Continuously advocated and shared web accessibility knowledge across
          teams within the organization.
        </li>
        <li>Hosted Twitter Spaces around Developer Relations topics.</li>
        <li>Streamed various front-end topics on the Split Twitch stream.</li>
      </ul>
    </TimeLineElement>
  </div>

  <div class='mb-5'>
    <div class='text-3xl w-full font-bold'>Certifications</div>
  </div>

  <ul class='list-disc mx-6 mb-10 grid gap-2'>
    <li>
      <a
        href='#'
        target='_blank'>
        Progress Champion</a
      >
    </li>
    <li>
      <a
        href='#'
        target='_blank'>
        Former Microsoft MVP</a
      >
    </li>
    <li>
      <a
        href='#'
        target='_blank'>
        Former Google Developer Expert</a
      >
    </li>
    <li>
      <a
        href='#'
        target='_blank'>
        Former Oracle Groundbreaker Ambassador</a
      >
    </li>
    <li>
      <a
        href='#'
        target='_blank'>
        Former Cloudinary Media Developer Expert</a
      >
    </li>
  </ul>

  <div class='mb-5'>
    <div class='text-3xl w-full font-bold'>Skills</div>
  </div>

  <ul class='list-disc md:columns-5 columns-2 mx-6'>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>React</li>
    <li>Git & GitHub</li>
    <li>Writing</li>
    <li>Video Production</li>
    <li>Public Speaking</li>
    <li>Twitch Streaming</li>
    <li>Common Room</li>
    <li>Jira</li>
    <li>Vim</li>
    <li>VS Code</li>
    <li>MongoDB</li>
    <li>DigitalOcean's App Platform</li>
    <li>Vercel</li>
    <li>Netlify</li>
  </ul>
</BaseLayout>
