---
import BaseLayout from '../layouts/BaseLayout.astro';
import TimeLineElement from '../components/cv/TimeLine.astro';
---

<BaseLayout
  title='Resume'
  sideBarActiveItemID='cv'>
  <div class='mb-5'>
    <div class='text-3xl w-full font-bold'>Profile</div>
  </div>

  <div class='mb-10 text-justify'>
    With nearly three decades of experience in the web and software industry, I
    bring a deep passion for crafting accessible, performant, and user-centered
    digital experiences. From building frontends for major enterprises to
    leading developer advocacy efforts at companies like Rocket Mortgage,
    DigitalOcean, and Split Software, I've helped launch products, grow
    communities, and amplify developer voices through content, talks, and global
    engagement. I thrive at the intersection of code and connection—bridging
    technical excellence with human impact.
  </div>

  <div class='mb-5'>
    <div class='text-3xl w-full font-bold'>Education</div>
  </div>

  <div class='time-line-container grid gap-4 mb-10'>
    <TimeLineElement
      title='Title Name'
      subtitle='[start year] to [end year] at [Study Center Name], [City], [Country]'
    />
    <TimeLineElement
      title='Title Name'
      subtitle='[start year] to [end year] at [Study Center Name], [City], [Country]'
    />
  </div>

  <div class='mb-5'>
    <div class='text-3xl w-full font-bold'>Experience</div>
  </div>

  <div class='time-line-container mb-10'>
    <TimeLineElement
      title='Job Title at Project or Company Name'
      subtitle='From [Start Date] to [End Date] at [Company], [City], [Country]'>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title='Job Title at Project or Company Name'
      subtitle='From [Start Date] to [End Date] at [Company], [City], [Country]'>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title='Job Title at Project or Company Name'
      subtitle='From [Start Date] to [End Date] at [Company], [City], [Country]'>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class='mb-5'>
    <div class='text-3xl w-full font-bold'>Certifications</div>
  </div>

  <ul class='list-disc mx-6 mb-10 grid gap-2'>
    <li>
      <a
        href='#'
        target='_blank'>
        Progress Champion</a
      >
    </li>
    <li>
      <a
        href='#'
        target='_blank'>
        Former Microsoft MVP</a
      >
    </li>
    <li>
      <a
        href='#'
        target='_blank'>
        Former Google Developer Expert</a
      >
    </li>
    <li>
      <a
        href='#'
        target='_blank'>
        Former Oracle Groundbreaker Ambassador</a
      >
    </li>
    <li>
      <a
        href='#'
        target='_blank'>
        Former Cloudinary Media Developer Expert</a
      >
    </li>
  </ul>

  <div class='mb-5'>
    <div class='text-3xl w-full font-bold'>Skills</div>
  </div>

  <ul class='list-disc md:columns-5 columns-2 mx-6'>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>React</li>
    <li>Git & GitHub</li>
    <li>Writing</li>
    <li>Video Production</li>
    <li>Public Speaking</li>
    <li>Twitch Streaming</li>
    <li>Common Room</li>
    <li>Jira</li>
    <li>Vim</li>
    <li>VS Code</li>
    <li>MongoDB</li>
    <li>DigitalOcean's App Platform</li>
    <li>Vercel</li>
    <li>Netlify</li>
  </ul>
</BaseLayout>
